build/**
sys/**
proc/**
dev/**
cross-tools/**
tools/**
lib/**
lib64/**
run/**
tmp/**
usr/**
var/**
opt/**
sources/**
.vfscratch-state/**
etc/**
bin/**
sbin/**
.bash_history
vfscratch/__pycache__
packages/**
stage1.tar
stage1.tar
